{{#each this}}
  <li class='genre__item'>
    <button
      class='genre__btn'
      id='js-genre__btn'
      type='button'
      data-sources={{id}}
      name='genre'
    >{{name}}</button>
  </li>
{{/each}}