<div class='footer-lightbox__card lightbox__card'>
    <button type='button' class='footer-lightbox__close-btn lightbox__close-btn' data-action='close-lightbox'>
            <svg width="14" height="14" class="social-links__icon">
                <use href="../images/icons/sprite.svg#icon-close"></use>
            </svg>
    </button>

    <ul class='team__list list'>
        {{#each this}}
        <li class='team__member'>
            <img class='member__photo' src='{{photo}}' alt='{{name}}' />
            <div class='member__info'>
                <h3 class='member__heading'>{{name}}</h3>
            </div>
        </li>
        {{/each}}
    </ul>