// Палитра

// Переменные для акцента
$accentColor: #ff6b09;
$accentColorHover: #ff3908;

// Переменная для шрифта
$primaryFont: 'Roboto', sans-serif;

// Переменные для текста
$whiteTextColor: #ffffff;
$whiteTextHover: #c9c0c0;
$redTextColor: #ff001b;
$blackTextColor: #000000;
$greyTextColor: #545454;

// Переменные для фона
$lightBackgroundColor: #f1f1f1;

// Переменная для анимации
$primaryTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Другое
$borderRadius: 5px;
$tableGap: 30px;

// Переменные для текста
// $primaryTitleColor: #111518;
// $primaryTextColor: #b9b9b9;
// $secondaryTextColor: #3d3d3d;
