<header class="header--home ">
    <div class="header__container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item nav__item--curent">home</li>
                <li class="nav__item">my library
                </li>
            </ul>
        </nav>
    </div>
    <form class="header__container search-form">
        <input type="text" name="query" autocomplete="off" class="search-input" placeholder="Поиск фильмов" />
    </form>

<!--
</header>
<header class="header--library ">
    <div class="header__container"> 
            <nav class="nav">
            <ul class="nav__list">
            <li class="nav__item" >home</li>
            <li class="nav__item nav__item--curent" >my library
</li>
        </ul>
    </nav>
</div>
<div class="header__container btn" >
    <button class="heder__btn">watched</button>
    <button class="heder__btn">queue</button>
</div>
</header>
-->
