@import '../utils/variables';

.pager {
  padding: 20px 0 40px 0;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    padding: 60px 0 60px 0;
  }
}
.pager__body._container {
}
.film__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.film__item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and(min-width:1024px) {
    width: calc((100% - 30px * 2) / 3);
    margin: 0 30px 30px 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}

.film__card {
}

.film__poster img {
  border-radius: 5px;
  height: 402px;
}

.film__description {
  margin-top: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
}

.film__title {
  color: $blackTextColor;
  text-transform: uppercase;
}

.film__info {
  display: inline-block;
  line-height: 1.333;
  color: $accentColor;
}

.film__vote {
  display: inline-block;
  margin-left: 10px;
  padding: 1px 6px;

  width: 36px;
  height: 16px;

  text-align: center;

  background-color: $accentColor;
  color: $whiteTextColor;

  border-radius: 5px;
}

.load {
  text-align: center;
  margin-top: 15px;
}

.load__btn {
  height: 44px;
  width: 130px;
  padding: auto;
  text-transform: uppercase;
  color: $blackTextColor;
  background: none;
  border: 1px solid $blackTextColor;
  box-sizing: border-box;
  border-radius: $borderRadius;
  &:hover,
  &:focus {
    background-color: $accentColorHover;
  }
}

.hidden {
  display: none;
}
