@import '../utils/variables';

.header--library {
  background-size: cover;
  color: $whiteTextColor;
  @media screen and(max-width:767px) {
    background-image: url('/images/header-fav-320.jpg');
  }
  @media screen and(min-width:768px) {
    background-image: url('/images/header-fav-768.jpg');
  }
  @media screen and(min-width:1024px) {
    background-image: url('/images/header-fav-1024.jpg');
  }
}
.header--home {
  background-size: cover;
  color: $whiteTextColor;
  @media screen and(max-width:767px) {
    background-image: url('/images/header-320.jpg');
  }
  @media screen and(min-width:768px) {
    background-image: url('/images/header-768.jpg');
  }
  @media screen and(min-width:1024px) {
    background-image: url('/images/header-1024.jpg');
  }
}
.header__container {
  font-size: 12px;
  font-weight: 500;
  font-family: $primaryFont;
  font-style: normal;
  line-height: 1.16;

  @media screen and(max-width:767px) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and(min-width:768px) {
    margin-right: 75px;
    margin-left: 71px;
  }
  @media screen and(min-width:1024px) {
    margin-right: 71px;
    margin-left: 71px;
  }
}
.nav__list {
  display: flex;
  justify-content: end;
  text-transform: uppercase;
}
.nav__item {
  display: flex;
  padding-top: 58px;
  &:not(:first-child) {
    margin-left: 39px;
  }
  transition: color $primaryTransition;
  &:hover,
  &:focus {
    cursor: pointer;
    color: $whiteTextHover;
  }
}
.nav__item--curent {
  position: relative;
  &::after {
    display: block;

    left: 0;
    bottom: -2px;
    content: '';
    width: 100%;
    height: 3px;
    background: #ff6b08;
    position: absolute;
  }
}
.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.nav__head {
  position: absolute;
  cursor: pointer;
  background: none;
  @media screen and(max-width:767px) {
    // display: none;
    top: 46px;
  }
  @media screen and(min-width:768px) {
    top: 41px;
    font-weight: 500;
    font-family: $primaryFont;
    font-style: normal;
    font-size: 30px;
    line-height: 1.16;
  }
  &::before {
    content: url('/images/icons/favicone.svg');
    width: 24px;
    height: 24px;
    fill: #818181;
    padding-right: 10px;
  }
}
.nav__head--text {
  @media screen and(max-width:767px) {
    display: none;
  }
}
.btn {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 80px;
  text-transform: uppercase;
}
.header__btn {
  height: 44px;
  width: 130px;
  padding: auto;
  text-transform: uppercase;
  color: $whiteTextColor;
  background: none;
  border: 1px solid $whiteTextColor;
  box-sizing: border-box;
  border-radius: $borderRadius;
  transition: background $primaryTransition;
  &:hover,
  &:focus {
    background-color: $accentColorHover;
  }

  &:not(:last-child) {
    margin-right: 15px;
    @media screen and(max-width:767px) {
      margin-right: 20px;
    }
  }
}
.header__btn--current {
  background: #ff6b01;
  border: none;
}
.search__form {
  position: relative;
  display: flex;
  justify-content: center;
}
.search__input {
  margin-bottom: 97px;
  margin-top: 38px;
  padding: 7px 10px;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid $whiteTextColor;
  color: $whiteTextColor;
  @media screen and(max-width:767px) {
    width: 100%;
  }
  @media screen and(min-width:768px) {
    width: 336px;
  }
}
.search__inner {
  border-bottom: 0.5px solid $whiteTextColor;
  margin-top: 38px;
  margin-bottom: 97px;
}
::placeholder {
  color: $whiteTextColor;
}
.search__btn {
  background: none;
  padding: 0;
  height: 29px;
  width: 29px;
  margin-top: 38px;
  border: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $whiteTextColor;
}
.search__icon {
  transition: scale $primaryTransition;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
.search__text {
  position: absolute;
  bottom: 59px;
  font-family: $primaryFont;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ff001b;
  @media screen and(max-width:767px) {
    text-align: left;
  }
}
