.hide {
    width: 100%;
    height: 100%;
    background: gray;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    color: royalblue;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(67, 78, 89, 0.4);
    border-radius: 50%;
    border-left-color: #ff6b08;
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.behind {
    opacity: 0;
}
