@import '../utils/variables';
.gallery {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.gallery_item {
  @media screen and (max-width: 767px) {
    min-width: 100%;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.card__description {
  padding-top: 10px;
  font-family: $primaryFont;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
}

.card__title {
  color: $blackTextColor;
  text-transform: uppercase;
}

.card__text {
  display: inline-block;
  line-height: 1.333;
  color: $accentColor;
}

.card__vote {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  margin-left: 10px;
  padding: 1px 6px;
  background-color: $accentColor;
  color: $whiteTextColor;
  text-transform: uppercase;
}
